@use "/assets/scss/modules/variables.scss";

.cropper-crop-box,
  .cropper-view-box {
    border-radius: 50%;
  }
  .cropper-view-box {
    box-shadow: 0 0 0 0.1rem #39f;
    outline: 0;
  
    height: 5rem;
    nav {
      position: fixed;
      width: 100%;
      height: 5rem;
      margin: 0;
      background-color: #ff5252;
      z-index: 5;
  
      ul {
        list-style-type: none;
      }
      .menu,
      .user {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        height: 5rem;
        .item {
          background-color: #ff5252;
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease-in-out;
          &:hover {
            background-color: #e14b4b;
          }
          .link {
            padding: 0 2rem;
            text-decoration: none;
            color: white;
            background-color: inherit;
            font-size: variables.$common-font-size;;
            font-weight: bold;
          }
        }
      }
      .user {
        display: flex;
        justify-content: flex-end;
        .profile {
          img {
            width: 2.7rem;
            height: 2.7rem;
            margin-left: 2rem;
          }
          .link {
            padding: 0 2rem 0 0.5rem;
          }
        }
        .log-out {
          .link {
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .messages {
          .link {
            font-size: 2.5rem;
          }//INDEX
        }
      }
    }
  }