@use "/assets/scss/modules/variables.scss";

.games {
    .item {
      margin: 10px 0px;
      background-color: white;
      display: flex;
      flex-direction: column;
      min-height: 100px;
      width: 230px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .img-block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      img {
        border-radius: 20px 20px 0px 0px;
        height: 230px;
        width: 230px;
      }
    }
    .action-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      span {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: variables.$primary-black-bg-color;
        height: 40px;
        width: 125px;
        margin: 8px 0px;
        border-radius: 0.5rem;
        &:hover {
          background-color: variables.$primary-blue-bg-color;
          transition: 0.3s;
        }
        a {
          font-size: 18px;
          font-weight: bold;
          text-decoration: none;
          color: white;
        }//mods section
      }
    }
  }