@use "/assets/scss/modules/variables.scss";

@font-face {
  //Roboto-regular
  @include variables.font-face-rules("Roboto-Regular", '/assets/fonts/Roboto/Roboto-Regular.ttf', "ttf", 300, normal)
}

@font-face {
  //Roboto-medium
  @include variables.font-face-rules("Roboto-Medium", '/assets/fonts/Roboto/Roboto-Medium.ttf', "ttf", 500, normal)
}

@font-face {
  //Roboto-bold
  @include variables.font-face-rules("Roboto-Bold", '/assets/fonts/Roboto/Roboto-Bold.ttf', "ttf", 700, normal)
}

@font-face {
  //Roboto-regular
  @include variables.font-face-rules("Roboto-Regular", '/assets/fonts/Roboto/Roboto-Regular.ttf', "ttf", 300, normal)
}
 
  html,
  body {
    height: 100%;
    margin: 0;
    font-size: 10px;
    @include variables.use-font("Roboto-Regular", 400, normal)
  }
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 1 auto;
    margin: 5rem 0 0 0;
  }

  footer {
    width: 100%;
    min-height: 5rem;
    margin: 0 0 3rem 0;
    nav {
      width: 100%;
      height: 5rem;
      margin: 0;
      padding: 0;
      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        .item {
          background-color: variables.$primary-black-bg-color;
          margin: 1rem 2rem 0 0;
          padding: 1rem;
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease-in-out;
          &:hover {
            background-color: variables.$primary-blue-bg-color;
          }//pagination
          .link {
            text-decoration: none;
            color: white;
            padding: 0 0.5rem;
            font-size: 2rem;
           
          }
        }
      }
    }
  }


  .jump-btn {
    position: absolute;
    left: 94%;
    bottom: 15%;
    background-color: #d44444;
    border-radius: 70%;
  }
  
  .arrow-img {
    height: 6rem;
  }
  
  .hiden {
    display: none;
  }