@use "/assets/scss/modules/variables.scss";

* {
    font-family: "Roboto", sans-serif;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    background-color: #f1f1f1;
    font-size: 10px;
  }
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 1 auto;
    margin: 5rem 0 0 0;
  }

  footer {
    width: 100%;
    min-height: 50px;
    margin: 0 0 3rem 0;
    nav {
      width: 100%;
      height: 50px;
      margin: 0;
      padding: 0;
      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        .item {
          background-color: variables.$primary-black-bg-color;
          margin: 1rem 2rem 0 0;
          padding: 1rem;
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease-in-out;
          &:hover {
            background-color: variables.$primary-blue-bg-color;
          }//pagination
          .link {
            text-decoration: none;
            color: white;
            padding: 0px 5px;
            font-size: 2rem;
           
          }
        }
      }
    }
  }


  .jump-btn {
    position: absolute;
    left: 94%;
    bottom: 15%;
    background-color: #d44444;
    border-radius: 70%;
  }
  
  .arrow-img {
    height: 60px;
  }
  
  .hiden {
    display: none;
  }