@use "/assets/scss/modules/variables.scss";

header {
    position: realtive;
    height: 7rem;
    background-color: white;
    border-bottom: 0.1rem solid gray;
    nav {
      width: 100%;
      height: 5rem;
      margin-top: 1rem;
      z-index: 5;
  
      ul {
        list-style-type: none;
      }
      .menu,
      .user {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        height: 5rem;
        .item {
          background-color: variables.$primary-black-bg-color;
          margin: 0 1rem 0 0;

          display: flex;
          align-items: center;
          transition: background-color 0.3s ease-in-out;
          &:hover {
            background-color: variables.$primary-blue-bg-color;;
          }
          .link {
            padding: 0px 20px;
            text-decoration: none;
            color: white;
            background-color: inherit;
            font-size: 1.8rem;
            font-weight: bold;
          }
        }
      }
      .user {
        display: flex;
        justify-content: flex-end;
        .profile {
          img {
            width: 27px;
            height: 27px;
            margin-left: 20px;
          }
          .link {
            padding: 0px 20px 0px 5px;
          }
        }
        .log-out {
          .link {
            font-size: 20px;
            font-weight: bold;
          }
        }
        .messages {
          .link {
            font-size: 25px;
          }//INDEX
        }
      }
    }
  }