@use "/assets/scss/modules/variables.scss";

header {
  position: relative;
    height: 7rem;
    width: 100%;  
    background-color: white;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.6);
    z-index: 1;
    nav {
      width: 100%;
      height: 5rem;
      margin-top: 1rem;
      z-index: 5;
  
      ul {
        list-style-type: none;
      }
      .menu,
      .user {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        height: 5rem;
        .item {
          margin: 0 1rem 0 0;
          display: flex;
          align-items: center;
          
        
          .link {
            padding: 0 1rem;
            @include variables.use-font("Roboto-Black", 600, bold);
            text-decoration: none;
            color: variables.$primary-black-bg-color;
            font-size: variables.$common-font-size;
            transition: background-color 0.3s ease-in-out;
            &:hover {
              color: variables.$primary-blue-bg-color;
            }
          }
        }
      }
      .user {
        display: flex;
        justify-content: flex-end;
        .profile {
          img {
            width: 2.7rem;
            height: 2.7rem;
            margin-left: 2rem;
          }
          .link {
            padding: 0 2rem 0 0.5rem;
          }
        }
        .log-out {
          .link {
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .messages {
          .link {
            font-size: 2.5rem;
          }//INDEX
        }
      }
    }
  }