@use "/assets/scss/modules/variables.scss";

.private-messages {
    margin: 1.5rem;
    .col,
    .col-4 {
      padding: 0 !important;
    }
    .dialog-list {
      max-height: 85vh;
      width: 100%;
      overflow: auto;
      .row {
        margin: 0 !important;
      }
      .message {
        display: flex;
        justify-content: space-between;
        background-color: white;
        user-select: none;
        height: 10rem;
        width: 100%;
        display: flex;
        border-bottom: 0.2rem solid #9d9d9d;
        &:hover {
          background-color: #b7b7b784;
          transition: 0.3s;
        }
        .left {
          img {
            padding: 1rem;
            height: 10rem;
            width: 10rem;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          .top {
            display: flex;
            justify-content: space-between;
            margin: 0.5rem 0;
            .author {
              font-weight: bold;
            }
            .date {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    .message-window {
      display: flex;
      flex-direction: column;
      height: 85vh;
      width: 100%;
      background-color: #e1e1e1;
      .message-list {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        overflow: auto;
        margin-bottom: 1rem;
        .top {
          display: flex;
          flex-direction: column;
          margin: 1rem 0;
          .message-body {
            display: flex;
            max-width: 50%;
            min-height: 5rem;
            .left {
              display: flex;
              align-items: flex-end;
              img {
                height: 5rem;
                width: 5rem;
              }
            }
            .right {
              display: flex;
              flex-direction: column;
              height: 100%;
              width: 100%;
              padding: 0.5rem;
              border-radius: 1rem;
              flex-grow: 1;
              background-color: #fff;
              overflow-wrap: anywhere;
              .text {
                padding: 0.5rem;
                font-size: variables.$common-font-size;;
              }
              .date {
                font-size: 1.3rem;
              }
              .unchecked,
              .checked {
                font-weight: bold;
              }
              .unchecked {
                color: #7d7d7d;
              }
              .checked {
                color: #ff5252;
              }
            }
          }
        }
        .my-message {
          align-items: flex-start;
          .left {
            margin-left: 1rem;
          }
          .right {
            margin-left: 0.5rem;
            span:nth-child(2) {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
        .other-message {
          align-items: flex-end;
          .message-body {
            display: flex;
            flex-direction: row-reverse;
            .left {
              margin-right: 1rem;
            }
            .right {
              margin-right: 0.5rem;
              span:nth-child(2) {
                display: flex;
                justify-content: flex-end;
              }
            }
          }
        }
      }
      .bottom {
        width: 100%;
        background-color: #c2c2c2d6;
        form {
          position: relative;
          textarea {
            background-color: inherit;
            font-size: 2rem;
            height: 6rem;
            width: 100%;
            padding: 1.5rem 9rem 1.5rem 2rem;
            border: none;
            outline: none;
            max-height: 32rem;
            resize: none;
          }
          input[type="submit"] {
            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 88.5%;
            right: 0;
            transform: translate(-50%, -50%);
            border: 0.2rem solid #ff5252;
            border-radius: 2rem;
            vertical-align: middle;
            font-size: 2.7rem;
            line-height: 1;
            color: #ff5252;
            cursor: pointer;
            &:hover {
              border: 0.2rem solid #e84b4b;
              color: #e84b4b;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }