@use "/assets/scss/modules/variables.scss";

.mods {
    .mod {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 50rem;
      width: 30rem;
      background-color: white;
      margin-bottom: 1.5rem;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }
      .img {
        height: 50%;
        width: 100%;
        margin-bottom: 0.5rem;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .name {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      .rating {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        .rating-area {
          width: 100%;
        }
        span {
          width: 3rem !important;
          font-size: 2.7rem !important;
        }
      }
      .description {
        padding: 0 2.5rem;
        font-size: 1.7rem;
      }
      .date {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        .upload {
          margin-right: 0.5rem;
          span {
            font-size: 1.4rem;
          }
        }
        .updated {
          span {
            font-size: 1.4rem;
          }
        }
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 100%;
        background-color: variables.$primary-blue-bg-color;
        a {
          width: 100%;
          height: 100%;
          padding-top: 0.5rem;
          text-align: center;
          font-size: 1.6rem;
          color: white;
          text-decoration: none;
          &:hover {
            background-color: variables.$primary-black-bg-color;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
  .mod-page {
    .info-block {
      display: flex;
      flex-direction: column;
      background-color: white;
      margin-top: 1.5rem;
      padding: 2rem;
      .top {
        display: flex;
        width: 100%;
        max-height: 50rem;
        margin-bottom: 1rem;
        .left,
        .right {
          flex: 1;
        }
        .left {
          width: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .right {
          padding: 0.5rem 1rem;
          .name {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
            .edit {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              color: variables.$primary-blue-bg-color;
              &:hover {
                color: variables.$primary-black-bg-color;
                transition: background-color 1s;
              }
              span:nth-child(1) {
                font-size: variables.$common-font-size;;
                font-weight: bold;
              }
              span:nth-child(2) {
                display: inline-block;
                transform: rotate(120deg);
              }
            }
          }
          .description {
            margin-bottom: 0.5rem;
            font-size:  1.8rem;
          }
          .author {
            font-size:  1.8rem;
            span:nth-child(1) {
              font-weight: bold;
            }
          }
        }
      }
      .middle {
        margin-bottom: 1rem;
        table {
          width: 100%;
          tr {
            height: 3.5rem;
            border-top: 0.1rem solid black;
            td {
              width: 50%;
              font-size: variables.$common-font-size;;
              .rating-area {
                margin: 0 !important;
                margin-right: auto;
              }
            }
          }
          tr:last-child {
            border-bottom: 0.1rem solid black;
          }
        }
      }
      .bottom {
        width: 100%;
        .button {
          display: block;
          width: 50%;
          height: 3.5rem;
          margin-left: auto;
          padding-top: 0.4rem;
          text-align: center;
          text-decoration: none;
          color: white;
          font-size: 1.7rem;
          background-color: variables.$primary-blue-bg-color;
          &:hover {
            background-color: variables.$primary-black-bg-color;
            transition: 0.3s;
          }
        }
      }
      .warning {
        margin: 0 auto;
        box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
        width: 80%;
        height: 5rem;
        margin-bottom: 2rem;
        span {
          display: flex;
          justify-content: center;
          padding: 1rem 0;
        }		// .message
          // 	margin-bottom: 20px
          // 	form
  
          // 		textarea
          // 			min-height: 125px
          // 			resize: vertical
          // 		input[type="submit"]
          // 			color: white
          // 			background-color: #E09696
          // 			border: none
          // 			border-radius: 3rem 
          // 			margin-top: 10px
          // 			margin-left: auto
          // 			display: block
          // 			height: 45px
          // 			width: 15%
          // 			&:hover
          // 				background-color: #880000
          // 				transition: 0.3s
  //PROFILE
      }
    }
  }