@use "/assets/scss/modules/variables.scss";

.upload-page {
    form {
      display: flex;
      flex-direction: column;
      margin: 1rem auto;
      padding: 2rem;
      width: 50rem;
      background-color: white;
      input {
        border: none;
        border-bottom: 0.1rem solid black;
        outline: none;
        margin-bottom: 1.5rem;
        box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
        height: 3.5rem;
      }
      textarea {
        outline: none;
      }
      select {
        border: none;
        border-bottom: 0.1rem solid black;
        outline: none;
        margin-bottom: 1.5rem;
        box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
        height: 3.5rem;
      }
      input[type="submit"] {
        width: 50%;
        margin: 0 auto;
        background-color: #ff5252;
        color: white;
        &:hover {
          background-color: #e34747;
          transition: 0.3s;
        }
      }
      label {
        text-align: center;
        font-weight: bold;
      }
      .buttons {
        display: flex;
      }//sorts
    }
  }
  .options {
    .sort-wrap {
      display: flex;
      align-items: flex-start;
      margin: 1rem 0;
      form {
        select {
          height: 3.5rem;
          min-width: 5rem;
          text-align: center;
          float: left;
          outline: none;
          cursor: pointer;
          font-size: 1.6rem;
        }
        .sort-input {
          border-right: none;
        }
        .order-input {
          border-left: none;
          border-right: none;
        }
        .categories-input {
          border-right: none;
        }
        input[type="submit"] {
          border-left: none;
          border-top: 0.1rem solid;
          border-right: 0.1rem solid;
          border-bottom: 0.1rem solid;
          border-color: black;
          height: 3.5rem;
          min-width: 10rem;
          cursor: pointer;
          background-color: variables.$primary-black-bg-color;
          color: #ffffff;
          font-size: 1.6rem;
          font-weight: bold;
          &:hover {
            background-color: variables.$primary-blue-bg-color;
          }//MESSAGES
        }
      }
    }
  }