@use "/assets/scss/modules/variables.scss";

.pagination-wrap {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    .pagination {
      font-size: variables.$common-font-size;;
      a {
        margin: 0 0.3rem;
        background-color: variables.$primary-black-bg-color;
        padding: 0.3rem 0.7rem;
        text-decoration: none;
        color: white;
        border-radius: 0.5rem;
        &:hover {
          background-color: #d34444;
        }
      }
      .active {
        background-color: variables.$primary-blue-bg-color;
      }//rating test form
    }
  }