@use "/assets/scss/modules/variables.scss";

.pagination-wrap {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    .pagination {
      font-size: 18px;
      a {
        margin: 0px 3px;
        background-color: variables.$primary-black-bg-color;
        padding: 3px 7px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        &:hover {
          background-color: #d34444;
        }
      }
      .active {
        background-color: variables.$primary-blue-bg-color;
      }//rating test form
    }
  }