.rating-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 20px;
    label,
    .static {
      position: relative;
      font-size: 25px;
      padding: 2px;
      color: #a7a7a7;
      input[type="submit"] {
        height: 100%;
        width: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
      }
    }
    label:hover,
    label:hover ~ label {
      color: #fef606;
      text-shadow: 1px 1px goldenrod;
    }
    label.active,
    .static.active {
      color: #fef606;
      text-shadow: 1px 1px goldenrod;
    }
  }