@use "/assets/scss/modules/variables.scss";

.report-button {
    background-color: inherit;
    border: none;
    color: variables.$primary-black-bg-color;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #dc4747;
      transition: 0.3s;
    }
  }
  .popup-block {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #65656544;
    z-index: 9999;
    .popup {
      padding: 2.5rem;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40rem;
      min-height: 20rem;
    }
    span {
      font-weight: bold;
    }
    form {
      display: flex;
      flex-direction: column;
      textarea {
        min-height: 10rem;
        margin-bottom: 1rem;
      }
      .buttons {
        input[type="submit"] {
          margin-right: 0.5rem;
          border: none;
          background-color: #ff5252;
          color: white;
          height: 3rem;
          width: 12.5rem;
          cursor: pointer;
          &:hover {
            background-color: #d44444;
          }
        }
        button {
          height: 3rem;
          width: 12.5rem;
          border: none;
          background-color: #6e6e6e;
          color: white;
          outline: none;
          cursor: pointer;
          &:hover {
            background-color: #5d5d5d;
          }//круглая облсать обрезания аватара
        }
      }
    }
  }