// Primary-bg-colors
$primary-black-bg-color: #282726;
$primary-red-bg-color: #A741A4;
$primary-blue-bg-color: #6A8A82;
$primar-dark_yelow-bg-color: #A37C27;
$primary-purple-bg-color: #563838;

// Font-sizes
$common-font-size: 1.6rem;
$medium-font-size: 2.3rem;
$large-font-size: 3.5rem;

//Font-stacks
