* {
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #f1f1f1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

header {
  position: realtive;
  height: 50px;
}
header nav {
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #ff5252;
  z-index: 5;
}
header nav ul {
  list-style-type: none;
}
header nav .menu, header nav .user {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 50px;
}
header nav .menu .item, header nav .user .item {
  background-color: #ff5252;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
header nav .menu .item:hover, header nav .user .item:hover {
  background-color: #e14b4b;
}
header nav .menu .item .link, header nav .user .item .link {
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
}
header nav .user {
  display: flex;
  justify-content: flex-end;
}
header nav .user .profile img {
  width: 27px;
  height: 27px;
  margin-left: 20px;
}
header nav .user .profile .link {
  padding: 0px 20px 0px 5px;
}
header nav .user .log-out .link {
  font-size: 20px;
  font-weight: bold;
}
header nav .user .messages .link {
  font-size: 25px;
}

.home {
  margin-top: 20px;
}
.home .header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.home .top-mods .main-carousel {
  background: #EEE;
}
.home .top-mods .main-carousel .carousel-cell {
  width: 66%;
  height: 250px;
  margin-right: 10px;
  background: #ffffff;
}
.home .top-mods .main-carousel .carousel-cell .content {
  display: flex;
  width: 100%;
  height: 100%;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block, .home .top-mods .main-carousel .carousel-cell .content .rigth-block {
  flex: 1;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block {
  width: 50%;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block .img {
  height: 100%;
  width: 100%;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block .img img {
  height: 100%;
  width: 100%;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 15px;
  text-align: center;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .name {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .description {
  font-size: 20px;
  word-wrap: break-word;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .button {
  margin-top: auto;
  height: 35px;
  background-color: #ff5252;
  padding-top: 5px;
  cursor: pointer;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .button:hover {
  background: #e44c4c;
  transition: background-color 0.3s ease-in-out;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .button a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.games .item {
  margin: 10px 0px;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 230px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.games .img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.games .img-block img {
  border-radius: 20px 20px 0px 0px;
  height: 230px;
  width: 230px;
}
.games .action-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games .action-block span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.games .action-block .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5252;
  height: 40px;
  width: 125px;
  margin: 8px 0px;
  border-radius: 20px;
}
.games .action-block .button:hover {
  background-color: #FF8080;
  transition: 0.3s;
}
.games .action-block .button a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.mods .mod {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 300px;
  background-color: white;
  margin-bottom: 15px;
  cursor: pointer;
}
.mods .mod:hover {
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.mods .mod .img {
  height: 50%;
  width: 100%;
  margin-bottom: 5px;
}
.mods .mod .img img {
  height: 100%;
  width: 100%;
}
.mods .mod .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.mods .mod .rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.mods .mod .rating .rating-area {
  width: 100%;
}
.mods .mod .rating span {
  width: 30px !important;
  font-size: 27px !important;
}
.mods .mod .description {
  padding: 0px 25px;
  font-size: 17px;
}
.mods .mod .date {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.mods .mod .date .upload {
  margin-right: 5px;
}
.mods .mod .date .upload span {
  font-size: 14px;
}
.mods .mod .date .updated span {
  font-size: 14px;
}
.mods .mod .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  background-color: #ff5252;
}
.mods .mod .button a {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.mods .mod .button a:hover {
  background-color: #de4646;
  transition: 0.3s ease-in-out;
}

.mod-page .info-block {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 15px;
  padding: 20px;
}
.mod-page .info-block .top {
  display: flex;
  width: 100%;
  max-height: 500px;
  margin-bottom: 10px;
}
.mod-page .info-block .top .left, .mod-page .info-block .top .right {
  flex: 1;
}
.mod-page .info-block .top .left {
  width: 50%;
}
.mod-page .info-block .top .left img {
  width: 100%;
  height: 100%;
}
.mod-page .info-block .top .right {
  padding: 5px 10px;
}
.mod-page .info-block .top .right .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.mod-page .info-block .top .right .name .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}
.mod-page .info-block .top .right .name .edit:hover {
  color: #ff5252;
  transition: background-color 1s;
}
.mod-page .info-block .top .right .name .edit span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.mod-page .info-block .top .right .name .edit span:nth-child(2) {
  display: inline-block;
  transform: rotate(120deg);
}
.mod-page .info-block .top .right .description {
  margin-bottom: 5px;
  font-size: 18px;
}
.mod-page .info-block .top .right .author {
  font-size: 18px;
}
.mod-page .info-block .top .right .author span:nth-child(1) {
  font-weight: bold;
}
.mod-page .info-block .middle {
  margin-bottom: 10px;
}
.mod-page .info-block .middle table {
  width: 100%;
}
.mod-page .info-block .middle table tr {
  height: 35px;
  border-top: 1px solid black;
}
.mod-page .info-block .middle table tr td {
  width: 50%;
  font-size: 18px;
}
.mod-page .info-block .middle table tr td .rating-area {
  margin: 0 !important;
  margin-right: auto;
}
.mod-page .info-block .middle table tr:last-child {
  border-bottom: 1px solid black;
}
.mod-page .info-block .bottom {
  width: 100%;
}
.mod-page .info-block .bottom .button {
  display: block;
  width: 50%;
  height: 35px;
  margin-left: auto;
  padding-top: 4px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 17px;
  background-color: #ff5252;
}
.mod-page .info-block .bottom .button:hover {
  background-color: #e64949;
  transition: 0.3s;
}
.mod-page .info-block .warning {
  margin: 0px auto;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
}
.mod-page .info-block .warning span {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.profile-header {
  margin-top: 10px;
}
.profile-header .left-block {
  display: flex;
  align-items: center;
  justify-self: center;
}
.profile-header .left-block img {
  height: 150px;
  margin: auto;
}
.profile-header .right-block .rigth-top {
  display: flex;
  justify-content: space-between;
}
.profile-header .right-block .rigth-top .name {
  display: flex;
  align-items: flex-start;
  font-size: 25px;
  font-weight: bold;
}
.profile-header .right-block .rigth-top .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}
.profile-header .right-block .rigth-top .edit:hover {
  color: #ff5252;
  transition: background-color 1s;
}
.profile-header .right-block .rigth-top .edit span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.profile-header .right-block .rigth-top .edit span:nth-child(2) {
  display: inline-block;
  transform: rotate(120deg);
}
.profile-header .right-block .right-middle {
  display: flex;
  margin-bottom: 20px;
}
.profile-header .right-block .right-middle div {
  min-width: 100px;
}
.profile-header .right-block .right-bottom a {
  padding: 10px 15px;
  background-color: #ff5252;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.profile-header .right-block .right-bottom a:hover {
  background-color: #e34848;
  transition: 0.3s;
}

.profile-content {
  display: flex;
  margin-top: 15px;
}
.profile-content .left, .profile-content .left-block {
  padding: 0;
}
.profile-content .left-block .tabs {
  display: flex;
  flex-direction: column;
}
.profile-content .left-block .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid black;
  font-size: 15px;
  width: 100%;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #241d13;
  font-weight: bold;
  background-color: rgb(255, 82, 82);
}
.profile-content .left-block .tabs .tab:hover {
  background-color: #de4b4b;
  transition: background-color 0.5s;
}
.profile-content .right, .profile-content .right-block {
  background-color: white;
  padding: 0;
  margin-bottom: 20px;
}
.profile-content .right-block .content {
  min-height: 65vh;
  padding: 20px 40px;
}
.profile-content .right-block .content .about-block .name {
  margin-bottom: 5px;
}
.profile-content .right-block .content .about-block .name span:nth-child(1) {
  font-weight: bold;
  margin-right: 5px;
}
.profile-content .right-block .content .about-block .name span:nth-child(2) {
  font-size: 18px;
}
.profile-content .right-block .content .about-block .surname {
  margin-bottom: 5px;
}
.profile-content .right-block .content .about-block .surname span:nth-child(1) {
  font-weight: bold;
  margin-right: 5px;
}
.profile-content .right-block .content .about-block .surname span:nth-child(2) {
  font-size: 18px;
}
.profile-content .right-block .content .about-block .age {
  margin-bottom: 5px;
}
.profile-content .right-block .content .about-block .age span:nth-child(1) {
  font-weight: bold;
  margin-right: 5px;
}
.profile-content .right-block .content .about-block .age span:nth-child(2) {
  font-size: 18px;
}
.profile-content .right-block .content .about-block .about span:nth-child(1) {
  font-weight: bold;
  margin-right: 5px;
}
.profile-content .right-block .content .about-block .about span:nth-child(2) {
  font-size: 18px;
}
.profile-content .right-block .content .files-block {
  display: flex;
  flex-wrap: wrap;
}
.profile-content .right-block .content .files-block .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  min-width: 280px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 10px 5px;
  cursor: pointer;
}
.profile-content .right-block .content .files-block .file .name {
  max-width: 100px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  word-wrap: break-word;
  padding: 5px 0px;
}
.profile-content .right-block .content .files-block .file .rating span:nth-child(1) {
  vertical-align: middle;
  font-size: 30px;
}
.profile-content .right-block .content .files-block .file .rating span:nth-child(2) {
  vertical-align: middle;
}
.profile-content .right-block .content .files-block .file .views span:nth-child(1) {
  font-size: 23px;
}
.profile-content .right-block .content .files-block .file .downloads {
  margin-right: 10px;
}
.profile-content .right-block .content .reports-block {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .reports-block .report {
  display: flex;
  width: 100%;
  height: 75px;
  margin-top: 10px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.profile-content .right-block .content .reports-block .report .left {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.profile-content .right-block .content .reports-block .report .left span .checked {
  color: green;
  font-weight: bold;
}
.profile-content .right-block .content .reports-block .report .left span .awaiting {
  color: red;
  font-weight: bold;
}
.profile-content .right-block .content .reports-block .report .right {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-content .right-block .content .reports-block .report .right span {
  color: #ff5252;
  font-weight: bold;
  cursor: pointer;
}
.profile-content .right-block .content .reports-block .report .right span:hover {
  color: #ca4141;
  transition: 0.3s;
}
.profile-content .right-block .content .report-page .top {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .middle {
  margin-bottom: 15px;
}
.profile-content .right-block .content .report-page .middle form {
  display: flex;
  justify-content: space-between;
}
.profile-content .right-block .content .report-page .middle form div {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .middle form label {
  font-weight: bold;
}
.profile-content .right-block .content .report-page .middle form .form-left {
  flex-grow: 1;
  margin-right: 10px;
}
.profile-content .right-block .content .report-page .middle form .form-left input[type=text] {
  height: 100px;
  width: 100%;
}
.profile-content .right-block .content .report-page .middle form .form-middle {
  margin-right: 10px;
}
.profile-content .right-block .content .report-page .middle form .form-middle select {
  margin-bottom: 5px;
  min-height: 35px;
  font-size: 19px;
  text-align: center;
}
.profile-content .right-block .content .report-page .middle form .form-middle input[type=submit] {
  height: 100%;
  border: none;
  background-color: red;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.profile-content .right-block .content .report-page .middle form .form-middle input[type=submit]:hover {
  background-color: #b30606;
  transition: 0.3s;
}
.profile-content .right-block .content .report-page .middle form .form-right input[type=submit] {
  height: 50%;
  border: none;
  font-weight: bold;
  color: white;
}
.profile-content .right-block .content .report-page .middle form .form-right input[type=submit]:nth-child(1) {
  margin-top: 32px;
  margin-bottom: 5px;
  background-color: #00a010;
}
.profile-content .right-block .content .report-page .middle form .form-right input[type=submit]:nth-child(2) {
  background-color: #e1a502;
}
.profile-content .right-block .content .report-page .bottom {
  display: flex;
  flex-wrap: wrap;
}
.profile-content .right-block .content .report-page .bottom .complaint {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  width: 420px;
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-username {
  margin-bottom: 10px;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list .complaint-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list .complaint-bottom {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list .complaint-bottom span:nth-child(1) {
  font-weight: bold;
}

.profile-edit {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.profile-edit form {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  padding: 10px 20px;
}
.profile-edit form label {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}
.profile-edit form input[type=text] {
  border: none;
  outline: none;
  height: 35px;
  font-size: 19px;
  border-bottom: 1px black solid;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.profile-edit form input[type=date] {
  border: none;
  outline: none;
  height: 35px;
  font-size: 19px;
  border-bottom: 1px black solid;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.profile-edit form textarea {
  min-height: 125px;
}
.profile-edit form input[type=submit] {
  width: 200px;
  height: 35px;
  font-size: 19px;
  border: none;
  background-color: #ff5252;
  color: white;
  margin: 0 auto;
}
.profile-edit form input[type=submit]:hover {
  background-color: #e24545;
  transition: background-color 0.5s;
}
.profile-edit form .image-preview-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.profile-edit form .image-preview-container .image-preview {
  max-width: 100%;
  max-height: 100%;
}
.profile-edit form .image-preview-container .user-image {
  width: 250px;
  height: 250px;
}
.profile-edit form .image-preview-container .add-img {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 6%);
  width: 250px;
  height: 125px;
  border-radius: 0 0 125px 125px;
  background-color: rgba(0, 0, 0, 0.389);
  z-index: 1;
  cursor: pointer;
}
.profile-edit form .image-preview-container .add-img:hover {
  background-color: rgba(0, 0, 0, 0.595);
  transition: background-color 0.5s;
}
.profile-edit form .image-preview-container .add-img span {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-edit form .image-preview-container .add-img input[type=file] {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 6%);
  width: 250px;
  height: 125px;
  border-radius: 0 0 125px 125px;
}
.profile-edit form .image-preview-container .crop-button {
  margin-left: auto;
}
.profile-edit .load-profile-data input {
  margin-bottom: 20px;
}
.profile-edit .load-profile-data textarea {
  margin-bottom: 20px;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 35%;
  height: 450px;
  background-color: white;
}
.auth span {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.auth form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.auth form .error {
  border: 2px solid red;
  margin-top: 10px;
  padding: 7px 17px;
  font-size: 18px;
}
.auth form label {
  font-size: 20px;
  font-weight: bold;
}
.auth form input[type=text] {
  width: 250px;
  height: 35px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
.auth form input[type=password] {
  height: 35px;
  width: 250px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
.auth form input[type=submit] {
  margin-top: 15px;
  width: 65%;
  height: 40px;
  border-radius: 20px;
  background-color: #ff0114;
  color: white;
  font-size: 19px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.auth form input[type=submit]:hover {
  background-color: #FF7A73;
  transition: 0.3s;
}
.auth .forgot-psw {
  font-size: 19px;
  margin-top: 25px;
}

.sign-in {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 35%;
  min-height: 500px;
  background-color: white;
}
.sign-in span {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.sign-in form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.sign-in form .error {
  border: 2px solid red;
  margin-top: 10px;
  padding: 7px 23px;
  font-size: 17px;
}
.sign-in form label {
  font-size: 20px;
  font-weight: bold;
}
.sign-in form input[type=text] {
  width: 250px;
  height: 35px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
.sign-in form input[type=password] {
  height: 35px;
  width: 250px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
.sign-in form input[type=submit] {
  margin: 15px 0;
  width: 65%;
  height: 40px;
  border-radius: 20px;
  background-color: #ff0114;
  color: white;
  font-size: 19px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.sign-in form input[type=submit]:hover {
  background-color: #FF7A73;
  transition: 0.3s;
}

.themes .add-theme, .top-themes .add-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.themes .add-theme a, .top-themes .add-theme a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5252;
  height: 35px;
  width: 250px;
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.themes .add-theme a:hover, .top-themes .add-theme a:hover {
  background-color: #ea4d4d;
}
.themes .theme, .top-themes .theme {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  background-color: white;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.themes .theme .head-block, .top-themes .theme .head-block {
  margin-left: 10px;
  min-width: 50%;
}
.themes .theme .date-block, .top-themes .theme .date-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
}
.themes .theme .views-block, .top-themes .theme .views-block {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themes .theme .theme-button, .top-themes .theme .theme-button {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}
.themes .theme .theme-button a, .top-themes .theme .theme-button a {
  text-decoration: none;
  color: #ff5252;
}
.themes .theme .theme-button a:hover, .top-themes .theme .theme-button a:hover {
  color: #f04e4e;
}
.themes .theme .theme-button form input[type=submit], .top-themes .theme .theme-button form input[type=submit] {
  border: none;
  background: inherit;
  cursor: pointer;
  color: #ff5252;
  font-weight: bold;
}
.themes .theme .theme-button form input[type=submit]:hover, .top-themes .theme .theme-button form input[type=submit]:hover {
  color: #f04e4e;
}

.theme-page .theme-header {
  display: flex;
  margin: 20px 0px;
  background-color: white;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.theme-page .theme-header .content {
  padding: 10px 15px;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.theme-page .theme-header .content .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.theme-page .theme-header .content .top .head {
  display: flex;
  flex-direction: column;
}
.theme-page .theme-header .content .top .head .header {
  font-size: 27px;
  font-weight: bold;
}
.theme-page .theme-header .content .top .head .topic {
  font-size: 23px;
}
.theme-page .theme-header .content .middle {
  margin-bottom: auto;
  margin-bottom: 15px;
  padding: 0px 20px;
}
.theme-page .theme-header .content .bottom {
  display: flex;
  justify-content: space-between;
}
.theme-page .theme-header .content .bottom .left {
  display: flex;
  justify-content: space-between;
}
.theme-page .theme-header .content .bottom .left .author {
  margin-right: 10px;
}
.theme-page .theme-header .content .bottom .left .create-date {
  margin-right: 10px;
}
.theme-page .theme-header .content .bottom .right {
  display: flex;
  align-items: center;
}
.theme-page .answer-block {
  margin-top: 15px;
}
.theme-page .answer-block .answer {
  min-height: 150px;
  min-width: 1024px;
  margin: 15px auto;
  background-color: white;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.theme-page .answer-block .answer .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.theme-page .answer-block .answer .user-info:hover {
  background-color: rgba(0, 0, 0, 0.0862745098);
  transition: 0.3s;
}
.theme-page .answer-block .answer .user-info .user-img {
  margin: 10px 0px;
  height: 125px;
  width: 125px;
}
.theme-page .answer-block .answer .user-info .user-name {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.theme-page .answer-block .answer .message {
  display: flex;
  flex-direction: column;
}
.theme-page .answer-block .answer .message .top {
  min-height: 125px;
  padding: 15px;
}
.theme-page .answer-block .answer .message .bottom {
  display: flex;
}
.theme-page .answer-block .answer .message .bottom .date-block {
  display: flex;
  align-items: flex-start;
}
.theme-page .answer-block .answer .message .bottom .date-block .date {
  margin-right: 10px;
}
.theme-page .form-block {
  display: flex;
  width: 100%;
}
.theme-page .form-block form textarea {
  width: 100%;
  min-height: 125px;
  resize: vertical;
}
.theme-page .form-block form input[type=submit] {
  color: white;
  background-color: #ff5252;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: auto;
  display: block;
  height: 45px;
  width: 15%;
  font-weight: bold;
}
.theme-page .form-block form input[type=submit]:hover {
  background-color: #e24949;
  transition: 0.3s;
}

.upload-page form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 20px;
  width: 500px;
  background-color: white;
}
.upload-page form input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  height: 35px;
}
.upload-page form textarea {
  outline: none;
}
.upload-page form select {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  height: 35px;
}
.upload-page form input[type=submit] {
  width: 50%;
  margin: 0px auto;
  background-color: #ff5252;
  color: white;
}
.upload-page form input[type=submit]:hover {
  background-color: #e34747;
  transition: 0.3s;
}
.upload-page form label {
  text-align: center;
  font-weight: bold;
}
.upload-page form .buttons {
  display: flex;
}

.options .sort-wrap {
  display: flex;
  align-items: flex-start;
  margin: 10px 0px;
}
.options .sort-wrap form select {
  height: 35px;
  min-width: 50px;
  text-align: center;
  float: left;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.options .sort-wrap form .sort-input {
  border-right: none;
}
.options .sort-wrap form .order-input {
  border-left: none;
  border-right: none;
}
.options .sort-wrap form .categories-input {
  border-right: none;
}
.options .sort-wrap form input[type=submit] {
  border-left: none;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  height: 35px;
  min-width: 100px;
  cursor: pointer;
  background-color: #ff5252;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.options .sort-wrap form input[type=submit]:hover {
  background-color: rgb(214, 75, 75);
}

.private-messages {
  margin: 15px;
}
.private-messages .col, .private-messages .col-4 {
  padding: 0 !important;
}
.private-messages .dialog-list {
  max-height: 85vh;
  width: 100%;
  overflow: auto;
}
.private-messages .dialog-list .row {
  margin: 0 !important;
}
.private-messages .dialog-list .message {
  display: flex;
  justify-content: space-between;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #9d9d9d;
}
.private-messages .dialog-list .message:hover {
  background-color: rgba(183, 183, 183, 0.5176470588);
  transition: 0.3s;
}
.private-messages .dialog-list .message .left img {
  padding: 10px;
  height: 100px;
  width: 100px;
}
.private-messages .dialog-list .message .right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.private-messages .dialog-list .message .right .top {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}
.private-messages .dialog-list .message .right .top .author {
  font-weight: bold;
}
.private-messages .dialog-list .message .right .top .date {
  margin-right: 5px;
}
.private-messages .message-window {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  background-color: #e1e1e1;
}

.private-messages .message-window .message-list::-webkit-scrollbar {
  background-color: white;
  border-radius: 20px;
  width: 10px;
}

.private-messages .message-window .message-list::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #ff5252;
  border-radius: 10px;
  
}


			
.private-messages .message-window .message-list {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 10px;
}
.private-messages .message-window .message-list .top {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.private-messages .message-window .message-list .top .message-body {
  display: flex;
  max-width: 50%;
  min-height: 50px;
}
.private-messages .message-window .message-list .top .message-body .left {
  display: flex;
  align-items: flex-end;
}
.private-messages .message-window .message-list .top .message-body .left img {
  height: 50px;
  width: 50px;
}
.private-messages .message-window .message-list .top .message-body .right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  flex-grow: 1;
  background-color: #fff;
  overflow-wrap: anywhere;
}
.private-messages .message-window .message-list .top .message-body .right .text {
  padding: 5px;
  font-size: 18px;
  width: 100%;
}
.private-messages .message-window .message-list .top .message-body .right .date {
  font-size: 13px;
}
.private-messages .message-window .message-list .top .message-body .right .unchecked, .private-messages .message-window .message-list .top .message-body .right .checked {
  font-weight: bold;
}
.private-messages .message-window .message-list .top .message-body .right .unchecked {
  color: #7d7d7d;
}
.private-messages .message-window .message-list .top .message-body .right .checked {
  color: #ff5252;
}
.private-messages .message-window .message-list .my-message {
  align-items: flex-start;
}
.private-messages .message-window .message-list .my-message .left {
  margin-left: 10px;
}
.private-messages .message-window .message-list .my-message .right {
  margin-left: 5px;
}
.private-messages .message-window .message-list .my-message .right span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.private-messages .message-window .message-list .other-message {
  align-items: flex-end;
}
.private-messages .message-window .message-list .other-message .message-body {
  display: flex;
  flex-direction: row-reverse;
}
.private-messages .message-window .message-list .other-message .message-body .left {
  margin-right: 10px;
}
.private-messages .message-window .message-list .other-message .message-body .right {
  margin-right: 5px;
}
.private-messages .message-window .message-list .other-message .message-body .right span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.private-messages .message-window .bottom {
  width: 100%;
  background-color: rgba(194, 194, 194, 0.8392156863);
}
.private-messages .message-window .bottom form {
  position: relative;
}
.private-messages .message-window .bottom form textarea {
  background-color: inherit;
  font-size: 20px;
  height: 60px;
  width: 100%;
  padding: 17px 90px 15px 20px;
  border: none;
  outline: none;
  max-height: 320px;
  resize: none;
}
.private-messages .message-window .bottom form input[type=submit] {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 88.5%;
  right: 0;
  transform: translate(-50%, -50%);
  border: 2px solid #ff5252;
  border-radius: 20px;
  vertical-align: middle;
  font-size: 27px;
  line-height: 1;
  color: #ff5252;
  cursor: pointer;
}
.private-messages .message-window .bottom form input[type=submit]:hover {
  border: 2px solid #e84b4b;
  color: #e84b4b;
  transition: 0.3s;
}

footer {
  width: 100%;
  min-height: 50px;
}
footer nav {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #ff5252;
}
footer nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer nav ul .item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
footer nav ul .item .link {
  text-decoration: none;
  color: white;
  padding: 0px 5px;
}
footer nav ul .item .link:hover {
  color: #B18152;
}

.pagination-wrap {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.pagination-wrap .pagination {
  font-size: 18px;
}
.pagination-wrap .pagination a {
  margin: 0px 3px;
  background-color: #ff5252;
  padding: 3px 7px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.pagination-wrap .pagination a:hover {
  background-color: #d34444;
}
.pagination-wrap .pagination .active {
  background-color: #d34444;
}

.rating-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 20px;
}
.rating-form label, .rating-form .static {
  position: relative;
  font-size: 25px;
  padding: 2px;
  color: #a7a7a7;
}
.rating-form label input[type=submit], .rating-form .static input[type=submit] {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.rating-form label:hover, .rating-form label:hover ~ label {
  color: #fef606;
  text-shadow: 1px 1px goldenrod;
}
.rating-form label.active, .rating-form .static.active {
  color: #fef606;
  text-shadow: 1px 1px goldenrod;
}

.post-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 20px;
}
.post-action .reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.post-action .reviews .up {
  display: inline-block;
  font-size: 40px;
  color: gray;
  transform: scaleX(-1);
  margin-right: 5px;
  text-decoration: none;
}
.post-action .reviews .up input[type=submit] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}
.post-action .reviews .up:hover {
  color: green;
  text-shadow: 1px 1px 1px #54fc62;
}
.post-action .reviews .up .active {
  color: green;
  text-shadow: 1px 1px 1px #54fc62;
}
.post-action .reviews .down {
  display: inline-block;
  font-size: 40px;
  color: gray;
  transform: scaleX(-1);
  margin-left: 5px;
  text-decoration: none;
}
.post-action .reviews .down input[type=submit] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}
.post-action .reviews .down .active {
  color: red;
  text-shadow: 0px 0px 3px #fc5454;
}
.post-action .reviews .down:hover {
  color: red;
  text-shadow: 1px 1px 1px #fc5454;
}

.answer-form {
  width: 100%;
  max-height: 250px;
  margin-bottom: 15px;
}
.answer-form form {
  display: flex;
  flex-direction: column;
}
.answer-form form textarea {
  max-height: 215px;
  width: 100%;
  border: none;
  outline: none;
}
.answer-form form input[type=submit] {
  margin-left: auto;
  height: 35px;
  width: 125px;
  border: none;
  background-color: #ff5252;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.answer-form form input[type=submit]:hover {
  background-color: #df4747;
  transition: 0.3s;
}

.answer-block {
  width: 100%;
}
.answer-block .answer {
  display: flex;
  min-height: 200px;
  width: 85%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.answer-block .answer .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
}
.answer-block .answer .left .user-img {
  height: 125px;
  width: 125px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.answer-block .answer .left .user-name {
  color: black;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
}
.answer-block .answer .right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80%;
  padding: 10px;
}
.answer-block .answer .right .top {
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
.answer-block .answer .right .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer-block .answer .right .bottom .date-block {
  display: flex;
  justify-content: space-between;
}
.answer-block .answer .right .bottom .date-block .date {
  margin-right: 10px;
}

.report-button {
  background-color: inherit;
  border: none;
  color: #ff5252;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.report-button:hover {
  color: #dc4747;
  transition: 0.3s;
}

.popup-block {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(101, 101, 101, 0.2666666667);
  z-index: 9999;
}
.popup-block .popup {
  padding: 25px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 200px;
}
.popup-block span {
  font-weight: bold;
}
.popup-block form {
  display: flex;
  flex-direction: column;
}
.popup-block form textarea {
  min-height: 100px;
  margin-bottom: 10px;
}
.popup-block form .buttons input[type=submit] {
  margin-right: 5px;
  border: none;
  background-color: #ff5252;
  color: white;
  height: 30px;
  width: 125px;
  cursor: pointer;
}
.popup-block form .buttons input[type=submit]:hover {
  background-color: #d44444;
}
.popup-block form .buttons button {
  height: 30px;
  width: 125px;
  border: none;
  background-color: #6e6e6e;
  color: white;
  outline: none;
  cursor: pointer;
}
.popup-block form .buttons button:hover {
  background-color: #5d5d5d;
}

.cropper-crop-box, .cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}/*# sourceMappingURL=style.css.map */


/* temporary styles */

.jump-btn {
  position: absolute;
  left: 94%;
  bottom: 15%;
  background-color: #d44444;
  border-radius: 70%;
}

.arrow-img {
  height: 60px;
}

.hiden {
  display: none;
}