/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/styles-colector.scss ***!
  \***************************************************************************************************************************/
.auth {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  width: 35%;
  height: 45rem;
  background-color: white;
}
.auth span {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.auth form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.auth form .error {
  border: 0.2rem solid red;
  margin-top: 1rem;
  padding: 0.7rem 1.7rem;
  font-size: 1.8rem;
}
.auth form label {
  font-size: 2rem;
  font-weight: bold;
}
.auth form input[type=text] {
  width: 25rem;
  height: 3.5rem;
  border: none;
  border-bottom: 0.1rem solid;
  outline: none;
}
.auth form input[type=password] {
  height: 3.5rem;
  width: 25rem;
  border: none;
  border-bottom: 0.1rem solid;
  outline: none;
}
.auth form input[type=submit] {
  margin-top: 1.5rem;
  width: 65%;
  height: 4rem;
  border-radius: 2rem;
  background-color: #ff0114;
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.auth form input[type=submit]:hover {
  background-color: #FF7A73;
  transition: 0.3s;
}
.auth .forgot-psw {
  font-size: 1.9rem;
  margin-top: 2.5rem;
}

.sign-in {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  width: 35%;
  min-height: 50rem;
  background-color: white;
}
.sign-in span {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.sign-in form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.sign-in form .error {
  border: 0.2rem solid red;
  margin-top: 1rem;
  padding: 0.7rem 2.3rem;
  font-size: 1.7rem;
}
.sign-in form label {
  font-size: 2rem;
  font-weight: bold;
}
.sign-in form input[type=text] {
  width: 25rem;
  height: 3.5rem;
  border: none;
  border-bottom: 0.1rem solid;
  outline: none;
}
.sign-in form input[type=password] {
  height: 3.5rem;
  width: 25rem;
  border: none;
  border-bottom: 0.1rem solid;
  outline: none;
}
.sign-in form input[type=submit] {
  margin: 1.5rem 0;
  width: 65%;
  height: 4rem;
  border-radius: 2rem;
  background-color: #ff0114;
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.sign-in form input[type=submit]:hover {
  background-color: #FF7A73;
  transition: 0.3s;
}

.post-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 2rem;
}
.post-action .reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.post-action .reviews .up {
  display: inline-block;
  font-size: 4rem;
  color: gray;
  transform: scaleX(-1);
  margin-right: 0.5rem;
  text-decoration: none;
}
.post-action .reviews .up input[type=submit] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}
.post-action .reviews .up:hover {
  color: green;
  text-shadow: 0.1rem 0.1rem 0.1rem #54fc62;
}
.post-action .reviews .up .active {
  color: green;
  text-shadow: 0.1rem 0.1rem 0.1rem #54fc62;
}
.post-action .reviews .down {
  display: inline-block;
  font-size: 4rem;
  color: gray;
  transform: scaleX(-1);
  margin-left: 0.5rem;
  text-decoration: none;
}
.post-action .reviews .down input[type=submit] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}
.post-action .reviews .down .active {
  color: red;
  text-shadow: 0 0 0.3rem #fc5454;
}
.post-action .reviews .down:hover {
  color: red;
  text-shadow: 0.1rem 0.1rem 0.1rem #fc5454;
}

.answer-form {
  width: 100%;
  max-height: 25rem;
  margin-bottom: 1.5rem;
}
.answer-form form {
  display: flex;
  flex-direction: column;
}
.answer-form form textarea {
  max-height: 21.5rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
  font-size: 1.9rem;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
.answer-form form input[type=submit] {
  font-family: "Roboto-Bold";
  font-weight: 500;
  font-style: normal;
  font-size: 1.9rem;
  margin-left: auto;
  height: 3.5rem;
  width: 12.5rem;
  border: none;
  background-color: #6A8A82;
  color: white;
  cursor: pointer;
}
.answer-form form input[type=submit]:hover {
  background-color: #282726;
  transition: 0.3s;
}

.answer-block {
  width: 100%;
  font-size: 1.8rem;
}
.answer-block .answer {
  display: flex;
  min-height: 20rem;
  width: 85%;
  margin: 0 auto;
  overflow-wrap: anywhere;
  background-color: white;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.answer-block .answer .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
}
.answer-block .answer .left .user-img {
  height: 12.5rem;
  width: 12.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.answer-block .answer .left .user-name {
  color: black;
  font-weight: bold;
  font-size: 1.9rem;
  text-decoration: none;
}
.answer-block .answer .right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80%;
  padding: 2rem;
}
.answer-block .answer .right .top {
  font-size: 2rem;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}
.answer-block .answer .right .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer-block .answer .right .bottom .date-block {
  display: flex;
  justify-content: space-between;
}
.answer-block .answer .right .bottom .date-block .date {
  margin-right: 1rem;
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 0.1rem #39f;
  outline: 0;
  height: 5rem;
}
.cropper-view-box nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  margin: 0;
  background-color: #ff5252;
  z-index: 5;
}
.cropper-view-box nav ul {
  list-style-type: none;
}
.cropper-view-box nav .menu,
.cropper-view-box nav .user {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 5rem;
}
.cropper-view-box nav .menu .item,
.cropper-view-box nav .user .item {
  background-color: #ff5252;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.cropper-view-box nav .menu .item:hover,
.cropper-view-box nav .user .item:hover {
  background-color: #e14b4b;
}
.cropper-view-box nav .menu .item .link,
.cropper-view-box nav .user .item .link {
  padding: 0 2rem;
  text-decoration: none;
  color: white;
  background-color: inherit;
  font-size: 1.8rem;
  font-weight: bold;
}
.cropper-view-box nav .user {
  display: flex;
  justify-content: flex-end;
}
.cropper-view-box nav .user .profile img {
  width: 2.7rem;
  height: 2.7rem;
  margin-left: 2rem;
}
.cropper-view-box nav .user .profile .link {
  padding: 0 2rem 0 0.5rem;
}
.cropper-view-box nav .user .log-out .link {
  font-size: 2rem;
  font-weight: bold;
}
.cropper-view-box nav .user .messages .link {
  font-size: 2.5rem;
}

.themes .add-theme,
.top-themes .add-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.themes .add-theme a,
.top-themes .add-theme a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5252;
  height: 3.5rem;
  width: 25rem;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
}
.themes .add-theme a:hover,
.top-themes .add-theme a:hover {
  background-color: #ea4d4d;
}
.themes .theme,
.top-themes .theme {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  background-color: white;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}
.themes .theme .head-block,
.top-themes .theme .head-block {
  margin-left: 1rem;
  min-width: 50%;
}
.themes .theme .date-block,
.top-themes .theme .date-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.4rem;
}
.themes .theme .views-block,
.top-themes .theme .views-block {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themes .theme .theme-button,
.top-themes .theme .theme-button {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}
.themes .theme .theme-button a,
.top-themes .theme .theme-button a {
  text-decoration: none;
  color: #ff5252;
}
.themes .theme .theme-button a:hover,
.top-themes .theme .theme-button a:hover {
  color: #f04e4e;
}
.themes .theme .theme-button form input[type=submit],
.top-themes .theme .theme-button form input[type=submit] {
  border: none;
  background: inherit;
  cursor: pointer;
  color: #ff5252;
  font-weight: bold;
}
.themes .theme .theme-button form input[type=submit]:hover,
.top-themes .theme .theme-button form input[type=submit]:hover {
  color: #f04e4e;
}

.theme-page .theme-header {
  display: flex;
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}
.theme-page .theme-header .content {
  padding: 1rem 1.5rem;
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.theme-page .theme-header .content .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.theme-page .theme-header .content .top .head {
  display: flex;
  flex-direction: column;
}
.theme-page .theme-header .content .top .head .header {
  font-size: 2.7rem;
  font-weight: bold;
}
.theme-page .theme-header .content .top .head .topic {
  font-size: 2.3rem;
}
.theme-page .theme-header .content .middle {
  margin-bottom: auto;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
}
.theme-page .theme-header .content .bottom {
  display: flex;
  justify-content: space-between;
}
.theme-page .theme-header .content .bottom .left {
  display: flex;
  justify-content: space-between;
}
.theme-page .theme-header .content .bottom .left .author {
  margin-right: 1rem;
}
.theme-page .theme-header .content .bottom .left .create-date {
  margin-right: 1rem;
}
.theme-page .theme-header .content .bottom .right {
  display: flex;
  align-items: center;
}
.theme-page .answer-block {
  margin-top: 1.5rem;
}
.theme-page .answer-block .answer {
  min-height: 15rem;
  min-width: 102.4rem;
  margin: 1.5rem auto;
  background-color: white;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}
.theme-page .answer-block .answer .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.theme-page .answer-block .answer .user-info:hover {
  background-color: rgba(0, 0, 0, 0.0862745098);
  transition: 0.3s;
}
.theme-page .answer-block .answer .user-info .user-img {
  margin: 1rem 0;
  height: 12.5rem;
  width: 12.5rem;
}
.theme-page .answer-block .answer .user-info .user-name {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}
.theme-page .answer-block .answer .message {
  display: flex;
  flex-direction: column;
}
.theme-page .answer-block .answer .message .top {
  min-height: 12.5rem;
  padding: 1.5rem;
}
.theme-page .answer-block .answer .message .bottom {
  display: flex;
}
.theme-page .answer-block .answer .message .bottom .date-block {
  display: flex;
  align-items: flex-start;
}
.theme-page .answer-block .answer .message .bottom .date-block .date {
  margin-right: 1rem;
}
.theme-page .form-block {
  display: flex;
  width: 100%;
}
.theme-page .form-block form textarea {
  width: 100%;
  min-height: 12.5rem;
  resize: vertical;
}
.theme-page .form-block form input[type=submit] {
  color: white;
  background-color: #ff5252;
  border: none;
  border-radius: 3rem;
  margin-top: 1rem;
  margin-left: auto;
  display: block;
  height: 4.5rem;
  width: 15%;
  font-weight: bold;
}
.theme-page .form-block form input[type=submit]:hover {
  background-color: #e24949;
  transition: 0.3s;
}

.games .item-holder {
  max-width: 23rem;
  margin: 0 4rem 1rem 0;
}
.games .item {
  margin: 1rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 35.2rem;
  width: 23rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.9);
}
.games .item:hover {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
}
.games .img-block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.games .img-block a {
  height: 100%;
  width: 100%;
}
.games .img-block img {
  height: 100%;
  width: 23rem;
}
.games .action-block {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.games .action-block a {
  font-family: "Roboto-Medium";
  font-weight: 550;
  font-style: normal;
  font-size: 1.9rem;
  color: #282726;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  src: url(fc2b5060f7accec5cf74.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  src: url(7c8d04cd831df3033c8a.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  src: url(f80816a5455d171f948d.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  src: url(fc2b5060f7accec5cf74.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}
html,
body {
  height: 100%;
  margin: 0;
  font-size: 10px;
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  margin: 5rem 0 0 0;
}

footer {
  width: 100%;
  min-height: 5rem;
  margin: 0 0 3rem 0;
}
footer nav {
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0;
}
footer nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer nav ul .item {
  background-color: #282726;
  margin: 1rem 2rem 0 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
footer nav ul .item:hover {
  background-color: #6A8A82;
}
footer nav ul .item .link {
  text-decoration: none;
  color: white;
  padding: 0 0.5rem;
  font-size: 2rem;
}

.jump-btn {
  position: absolute;
  left: 94%;
  bottom: 15%;
  background-color: #d44444;
  border-radius: 70%;
}

.arrow-img {
  height: 6rem;
}

.hiden {
  display: none;
}

.home {
  margin-top: 2rem;
}
.home .header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.home .top-mods .main-carousel {
  background: #EEE;
}
.home .top-mods .main-carousel .carousel-cell {
  width: 66%;
  height: 25rem;
  margin-right: 1rem;
  background: #ffffff;
}
.home .top-mods .main-carousel .carousel-cell .content {
  display: flex;
  width: 100%;
  height: 100%;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block,
.home .top-mods .main-carousel .carousel-cell .content .rigth-block {
  flex: 1;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block {
  width: 50%;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block .img {
  height: 100%;
  width: 100%;
}
.home .top-mods .main-carousel .carousel-cell .content .left-block .img img {
  height: 100%;
  width: 100%;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 1.5rem;
  text-align: center;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .name {
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .description {
  font-size: 2rem;
  word-wrap: break-word;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .button {
  margin-top: auto;
  height: 3.5rem;
  background-color: #ff5252;
  padding-top: 0.5rem;
  cursor: pointer;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .button:hover {
  background: #e44c4c;
  transition: background-color 0.3s ease-in-out;
}
.home .top-mods .main-carousel .carousel-cell .content .right-block .button a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}

header {
  position: relative;
  height: 7rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.6);
  z-index: 1;
}
header nav {
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  z-index: 5;
}
header nav ul {
  list-style-type: none;
}
header nav .menu,
header nav .user {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 5rem;
}
header nav .menu .item,
header nav .user .item {
  margin: 0 1rem 0 0;
  display: flex;
  align-items: center;
}
header nav .menu .item .link,
header nav .user .item .link {
  padding: 0 1rem;
  font-family: "Roboto-Black";
  font-weight: 600;
  font-style: bold;
  text-decoration: none;
  color: #282726;
  font-size: 1.8rem;
  transition: background-color 0.3s ease-in-out;
}
header nav .menu .item .link:hover,
header nav .user .item .link:hover {
  color: #6A8A82;
}
header nav .user {
  display: flex;
  justify-content: flex-end;
}
header nav .user .profile img {
  width: 2.7rem;
  height: 2.7rem;
  margin-left: 2rem;
}
header nav .user .profile .link {
  padding: 0 2rem 0 0.5rem;
}
header nav .user .log-out .link {
  font-size: 2rem;
  font-weight: bold;
}
header nav .user .messages .link {
  font-size: 2.5rem;
}

.private-messages {
  margin: 1.5rem;
}
.private-messages .col,
.private-messages .col-4 {
  padding: 0 !important;
}
.private-messages .dialog-list {
  max-height: 85vh;
  width: 100%;
  overflow: auto;
}
.private-messages .dialog-list .row {
  margin: 0 !important;
}
.private-messages .dialog-list .message {
  display: flex;
  justify-content: space-between;
  background-color: white;
  user-select: none;
  height: 10rem;
  width: 100%;
  display: flex;
  border-bottom: 0.2rem solid #9d9d9d;
}
.private-messages .dialog-list .message:hover {
  background-color: rgba(183, 183, 183, 0.5176470588);
  transition: 0.3s;
}
.private-messages .dialog-list .message .left img {
  padding: 1rem;
  height: 10rem;
  width: 10rem;
}
.private-messages .dialog-list .message .right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.private-messages .dialog-list .message .right .top {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.private-messages .dialog-list .message .right .top .author {
  font-weight: bold;
}
.private-messages .dialog-list .message .right .top .date {
  margin-right: 0.5rem;
}
.private-messages .message-window {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  background-color: #e1e1e1;
}
.private-messages .message-window .message-list {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 1rem;
}
.private-messages .message-window .message-list .top {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.private-messages .message-window .message-list .top .message-body {
  display: flex;
  max-width: 50%;
  min-height: 5rem;
}
.private-messages .message-window .message-list .top .message-body .left {
  display: flex;
  align-items: flex-end;
}
.private-messages .message-window .message-list .top .message-body .left img {
  height: 5rem;
  width: 5rem;
}
.private-messages .message-window .message-list .top .message-body .right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  flex-grow: 1;
  background-color: #fff;
  overflow-wrap: anywhere;
}
.private-messages .message-window .message-list .top .message-body .right .text {
  padding: 0.5rem;
  font-size: 1.8rem;
}
.private-messages .message-window .message-list .top .message-body .right .date {
  font-size: 1.3rem;
}
.private-messages .message-window .message-list .top .message-body .right .unchecked,
.private-messages .message-window .message-list .top .message-body .right .checked {
  font-weight: bold;
}
.private-messages .message-window .message-list .top .message-body .right .unchecked {
  color: #7d7d7d;
}
.private-messages .message-window .message-list .top .message-body .right .checked {
  color: #ff5252;
}
.private-messages .message-window .message-list .my-message {
  align-items: flex-start;
}
.private-messages .message-window .message-list .my-message .left {
  margin-left: 1rem;
}
.private-messages .message-window .message-list .my-message .right {
  margin-left: 0.5rem;
}
.private-messages .message-window .message-list .my-message .right span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.private-messages .message-window .message-list .other-message {
  align-items: flex-end;
}
.private-messages .message-window .message-list .other-message .message-body {
  display: flex;
  flex-direction: row-reverse;
}
.private-messages .message-window .message-list .other-message .message-body .left {
  margin-right: 1rem;
}
.private-messages .message-window .message-list .other-message .message-body .right {
  margin-right: 0.5rem;
}
.private-messages .message-window .message-list .other-message .message-body .right span:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.private-messages .message-window .bottom {
  width: 100%;
  background-color: rgba(194, 194, 194, 0.8392156863);
}
.private-messages .message-window .bottom form {
  position: relative;
}
.private-messages .message-window .bottom form textarea {
  background-color: inherit;
  font-size: 2rem;
  height: 6rem;
  width: 100%;
  padding: 1.5rem 9rem 1.5rem 2rem;
  border: none;
  outline: none;
  max-height: 32rem;
  resize: none;
}
.private-messages .message-window .bottom form input[type=submit] {
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 88.5%;
  right: 0;
  transform: translate(-50%, -50%);
  border: 0.2rem solid #ff5252;
  border-radius: 2rem;
  vertical-align: middle;
  font-size: 2.7rem;
  line-height: 1;
  color: #ff5252;
  cursor: pointer;
}
.private-messages .message-window .bottom form input[type=submit]:hover {
  border: 0.2rem solid #e84b4b;
  color: #e84b4b;
  transition: 0.3s;
}

.upload-page form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 2rem;
  width: 50rem;
  background-color: white;
}
.upload-page form input {
  border: none;
  border-bottom: 0.1rem solid black;
  outline: none;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  height: 3.5rem;
}
.upload-page form textarea {
  outline: none;
}
.upload-page form select {
  border: none;
  border-bottom: 0.1rem solid black;
  outline: none;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  height: 3.5rem;
}
.upload-page form input[type=submit] {
  width: 50%;
  margin: 0 auto;
  background-color: #ff5252;
  color: white;
}
.upload-page form input[type=submit]:hover {
  background-color: #e34747;
  transition: 0.3s;
}
.upload-page form label {
  text-align: center;
  font-weight: bold;
}
.upload-page form .buttons {
  display: flex;
}

.options .sort-wrap {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
}
.options .sort-wrap form select {
  height: 3.5rem;
  min-width: 5rem;
  text-align: center;
  float: left;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
}
.options .sort-wrap form .sort-input {
  border-right: none;
}
.options .sort-wrap form .order-input {
  border-left: none;
  border-right: none;
}
.options .sort-wrap form .categories-input {
  border-right: none;
}
.options .sort-wrap form input[type=submit] {
  border-left: none;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: black;
  height: 3.5rem;
  min-width: 10rem;
  cursor: pointer;
  background-color: #282726;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
}
.options .sort-wrap form input[type=submit]:hover {
  background-color: #6A8A82;
}

.mods {
  margin: 6rem 0 0 0;
}
.mods .col {
  margin-bottom: 3rem;
}
.mods .mod {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40rem;
  width: 27rem;
  margin: 0 0 0.5rem 0;
  background-color: white;
  cursor: pointer;
}
.mods .mod:hover {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
  transition: 0.3s ease-in-out;
}
.mods .mod .img {
  height: 100%;
  width: 100%;
}
.mods .mod .img img {
  height: 100%;
  width: 100%;
}
.mods .mod-description {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 27rem;
  margin-bottom: 1.5rem;
  padding-left: 1.3rem;
}
.mods .mod-description .mod-descr-block_row {
  display: none;
  flex-direction: column;
}
.mods .mod-description .open-description {
  font-size: 1.4rem;
  user-select: none;
  cursor: pointer;
}
.mods .mod-description .name {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0.5rem 7.9rem 0 0;
}
.mods .mod-description .rating {
  display: flex;
  align-items: center;
}
.mods .mod-description .rating .rating-area {
  width: 100%;
}
.mods .mod-description .rating span {
  width: 3rem !important;
  font-size: 2.7rem !important;
}
.mods .mod-description .description {
  font-size: 1.7rem;
}
.mods .mod-description .date {
  display: flex;
  flex-direction: row;
  margin: 0 0 0.5rem 0;
}
.mods .mod-description .date .upload span {
  font-size: 1.4rem;
}
.mods .mod-description .date .updated span {
  font-size: 1.4rem;
}
.mods .mod-description .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 27rem;
  background-color: #6A8A82;
}
.mods .mod-description .button a {
  width: 100%;
  height: 100%;
  padding-top: 0.3rem;
  text-align: center;
  font-family: "Roboto-Bold";
  font-weight: 500;
  font-style: normal;
  font-size: 1.9rem;
  color: white;
  text-decoration: none;
}
.mods .mod-description .button a:hover {
  background-color: #282726;
  transition: 0.3s ease-in-out;
}

.mod-page .info-block {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.mod-page .info-block .top {
  display: flex;
  width: 100%;
  max-height: 50rem;
  margin-bottom: 1rem;
}
.mod-page .info-block .top .left,
.mod-page .info-block .top .right {
  flex: 1;
}
.mod-page .info-block .top .left {
  width: 50%;
}
.mod-page .info-block .top .left img {
  width: 100%;
  height: 100%;
}
.mod-page .info-block .top .right {
  padding: 0.5rem 1rem;
}
.mod-page .info-block .top .right .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9rem;
}
.mod-page .info-block .top .right .name h1 {
  font-size: 2.5rem;
}
.mod-page .info-block .top .right .name .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #6A8A82;
}
.mod-page .info-block .top .right .name .edit:hover {
  color: #282726;
  transition: background-color 1s;
}
.mod-page .info-block .top .right .name .edit span:nth-child(1) {
  font-size: 1.8rem;
  font-weight: bold;
}
.mod-page .info-block .top .right .name .edit span:nth-child(2) {
  display: inline-block;
  transform: rotate(120deg);
}
.mod-page .info-block .top .right .description {
  margin-bottom: 0.5rem;
  font-size: 1.9rem;
}
.mod-page .info-block .top .right .author {
  font-size: 1.8rem;
}
.mod-page .info-block .top .right .author span:nth-child(1) {
  font-weight: bold;
}
.mod-page .info-block .middle {
  margin-bottom: 1rem;
}
.mod-page .info-block .middle table {
  width: 100%;
}
.mod-page .info-block .middle table tr {
  height: 3.5rem;
  border-top: 0.1rem solid black;
}
.mod-page .info-block .middle table tr td {
  width: 50%;
  font-size: 2.5rem;
}
.mod-page .info-block .middle table tr td .rating-area {
  margin: 0 !important;
  margin-right: auto;
}
.mod-page .info-block .middle table tr:last-child {
  border-bottom: 0.1rem solid black;
}
.mod-page .info-block .bottom {
  width: 100%;
}
.mod-page .info-block .bottom .button {
  display: block;
  width: 50%;
  height: 3.5rem;
  margin-left: auto;
  padding-top: 0.4rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  background-color: #6A8A82;
}
.mod-page .info-block .bottom .button:hover {
  background-color: #282726;
  transition: 0.3s;
}
.mod-page .info-block .warning {
  margin: 0 auto;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9);
  width: 80%;
  height: 5rem;
  margin-bottom: 2rem;
}
.mod-page .info-block .warning span {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.pagination-wrap {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.pagination-wrap .pagination {
  font-size: 1.8rem;
}
.pagination-wrap .pagination a {
  margin: 0 0.3rem;
  background-color: #282726;
  padding: 0.3rem 0.7rem;
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
}
.pagination-wrap .pagination a:hover {
  background-color: #d34444;
}
.pagination-wrap .pagination .active {
  background-color: #6A8A82;
}

.profile-edit {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
.profile-edit form {
  display: flex;
  flex-direction: column;
  width: 50rem;
  background-color: white;
  padding: 1rem 2rem;
}
.profile-edit form label {
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
}
.profile-edit form input[type=text] {
  border: none;
  outline: none;
  height: 3.5rem;
  font-size: 1.9rem;
  border-bottom: 0.1rem black solid;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}
.profile-edit form input[type=date] {
  border: none;
  outline: none;
  height: 3.5rem;
  font-size: 1.9rem;
  border-bottom: 0.1rem black solid;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}
.profile-edit form textarea {
  min-height: 12.5rem;
}
.profile-edit form input[type=submit] {
  width: 20rem;
  height: 3.5rem;
  font-size: 1.9rem;
  border: none;
  background-color: #ff5252;
  color: white;
  margin: 0 auto;
}
.profile-edit form input[type=submit]:hover {
  background-color: #e24545;
  transition: background-color 0.5s;
}
.profile-edit form .image-preview-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.profile-edit form .image-preview-container .image-preview {
  max-width: 100%;
  max-height: 100%;
}
.profile-edit form .image-preview-container .user-image {
  width: 25rem;
  height: 25rem;
}
.profile-edit form .image-preview-container .add-img {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 6%);
  width: 25rem;
  height: 12.5rem;
  border-radius: 0 0 12.5rem 12.5rem;
  background-color: rgba(0, 0, 0, 0.389);
  z-index: 1;
  cursor: pointer;
}
.profile-edit form .image-preview-container .add-img:hover {
  background-color: rgba(0, 0, 0, 0.595);
  transition: background-color 0.5s;
}
.profile-edit form .image-preview-container .add-img span {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-edit form .image-preview-container .add-img input[type=file] {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 6%);
  width: 25rem;
  height: 12.5rem;
  border-radius: 0 0 12.5rem 12.5rem;
}
.profile-edit form .image-preview-container .crop-button {
  margin-left: auto;
}
.profile-edit .load-profile-data input {
  margin-bottom: 2rem;
}
.profile-edit .load-profile-data textarea {
  margin-bottom: 2rem;
}

.profile-header {
  margin-top: 1rem;
}
.profile-header .left-block {
  display: flex;
  align-items: center;
  justify-self: center;
}
.profile-header .left-block img {
  height: 15rem;
  margin: auto;
}
.profile-header .right-block .rigth-top {
  display: flex;
  justify-content: space-between;
}
.profile-header .right-block .rigth-top .name {
  display: flex;
  align-items: flex-start;
  font-size: 2.5rem;
  font-weight: bold;
}
.profile-header .right-block .rigth-top .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}
.profile-header .right-block .rigth-top .edit:hover {
  color: #ff5252;
  transition: background-color 1s;
}
.profile-header .right-block .rigth-top .edit span:nth-child(1) {
  font-size: 1.8rem;
  font-weight: bold;
}
.profile-header .right-block .rigth-top .edit span:nth-child(2) {
  display: inline-block;
  transform: rotate(120deg);
}
.profile-header .right-block .right-middle {
  display: flex;
  margin-bottom: 2rem;
}
.profile-header .right-block .right-middle div {
  min-width: 10rem;
}
.profile-header .right-block .right-bottom a {
  padding: 1rem 1.5rem;
  background-color: #ff5252;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}
.profile-header .right-block .right-bottom a:hover {
  background-color: #e34848;
  transition: 0.3s;
}

.profile-content {
  display: flex;
  margin-top: 1.5rem;
}
.profile-content .left,
.profile-content .left-block {
  padding: 0;
}
.profile-content .left-block .tabs {
  display: flex;
  flex-direction: column;
}
.profile-content .left-block .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 0.2rem solid black;
  font-size: 1.5rem;
  width: 100%;
  height: 5rem;
  border-width: 0.1rem;
  color: #fff;
  border-color: #241d13;
  font-weight: bold;
  background-color: rgb(255, 82, 82);
}
.profile-content .left-block .tabs .tab:hover {
  background-color: #de4b4b;
  transition: background-color 0.5s;
}
.profile-content .right,
.profile-content .right-block {
  background-color: white;
  padding: 0;
  margin-bottom: 2rem;
}
.profile-content .right-block .content {
  min-height: 65vh;
  padding: 2rem 4rem;
}
.profile-content .right-block .content .about-block .name {
  margin-bottom: 0.5rem;
}
.profile-content .right-block .content .about-block .name span:nth-child(1) {
  font-weight: bold;
  margin-right: 0.5rem;
}
.profile-content .right-block .content .about-block .name span:nth-child(2) {
  font-size: 1.8rem;
}
.profile-content .right-block .content .about-block .surname {
  margin-bottom: 0.5rem;
}
.profile-content .right-block .content .about-block .surname span:nth-child(1) {
  font-weight: bold;
  margin-right: 0.5rem;
}
.profile-content .right-block .content .about-block .surname span:nth-child(2) {
  font-size: 1.8rem;
}
.profile-content .right-block .content .about-block .age {
  margin-bottom: 0.5rem;
}
.profile-content .right-block .content .about-block .age span:nth-child(1) {
  font-weight: bold;
  margin-right: 0.5rem;
}
.profile-content .right-block .content .about-block .age span:nth-child(2) {
  font-size: 1.8rem;
}
.profile-content .right-block .content .about-block .about span:nth-child(1) {
  font-weight: bold;
  margin-right: 0.5rem;
}
.profile-content .right-block .content .about-block .about span:nth-child(2) {
  font-size: 1.8rem;
}
.profile-content .right-block .content .files-block {
  display: flex;
  flex-wrap: wrap;
}
.profile-content .right-block .content .files-block .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  min-width: 28rem;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.profile-content .right-block .content .files-block .file .name {
  max-width: 10rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1rem;
  word-wrap: break-word;
  padding: 0.5rem 0;
}
.profile-content .right-block .content .files-block .file .rating span:nth-child(1) {
  vertical-align: middle;
  font-size: 3rem;
}
.profile-content .right-block .content .files-block .file .rating span:nth-child(2) {
  vertical-align: middle;
}
.profile-content .right-block .content .files-block .file .views span:nth-child(1) {
  font-size: 2.3rem;
}
.profile-content .right-block .content .files-block .file .downloads {
  margin-right: 1rem;
}
.profile-content .right-block .content .reports-block {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .reports-block .report {
  display: flex;
  width: 100%;
  height: 7.5rem;
  margin-top: 1rem;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}
.profile-content .right-block .content .reports-block .report .left {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}
.profile-content .right-block .content .reports-block .report .left span .checked {
  color: green;
  font-weight: bold;
}
.profile-content .right-block .content .reports-block .report .left span .awaiting {
  color: red;
  font-weight: bold;
}
.profile-content .right-block .content .reports-block .report .right {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-content .right-block .content .reports-block .report .right span {
  color: #ff5252;
  font-weight: bold;
  cursor: pointer;
}
.profile-content .right-block .content .reports-block .report .right span:hover {
  color: #ca4141;
  transition: 0.3s;
}
.profile-content .right-block .content .report-page .top {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .middle {
  margin-bottom: 1.5rem;
}
.profile-content .right-block .content .report-page .middle form {
  display: flex;
  justify-content: space-between;
}
.profile-content .right-block .content .report-page .middle form div {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .middle form label {
  font-weight: bold;
}
.profile-content .right-block .content .report-page .middle form .form-left {
  flex-grow: 1;
  margin-right: 1rem;
}
.profile-content .right-block .content .report-page .middle form .form-left input[type=text] {
  height: 10rem;
  width: 100%;
}
.profile-content .right-block .content .report-page .middle form .form-middle {
  margin-right: 1rem;
}
.profile-content .right-block .content .report-page .middle form .form-middle select {
  margin-bottom: 0.5rem;
  min-height: 3.5rem;
  font-size: 1.9rem;
  text-align: center;
}
.profile-content .right-block .content .report-page .middle form .form-middle input[type=submit] {
  height: 100%;
  border: none;
  background-color: red;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.profile-content .right-block .content .report-page .middle form .form-middle input[type=submit]:hover {
  background-color: #b30606;
  transition: 0.3s;
}
.profile-content .right-block .content .report-page .middle form .form-right input[type=submit] {
  height: 50%;
  border: none;
  font-weight: bold;
  color: white;
}
.profile-content .right-block .content .report-page .middle form .form-right input[type=submit]:nth-child(1) {
  margin-top: 3.2rem;
  margin-bottom: 0.5rem;
  background-color: #00a010;
}
.profile-content .right-block .content .report-page .middle form .form-right input[type=submit]:nth-child(2) {
  background-color: #e1a502;
}
.profile-content .right-block .content .report-page .bottom {
  display: flex;
  flex-wrap: wrap;
}
.profile-content .right-block .content .report-page .bottom .complaint {
  display: flex;
  flex-direction: column;
  min-height: 25rem;
  width: 42rem;
  box-shadow: 0.1rem 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-username {
  margin-bottom: 1rem;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list .complaint-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list .complaint-bottom {
  display: flex;
  flex-direction: column;
}
.profile-content .right-block .content .report-page .bottom .complaint .complaint-list .complaint-bottom span:nth-child(1) {
  font-weight: bold;
}

.rating-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 2rem;
}
.rating-form label,
.rating-form .static {
  position: relative;
  font-size: 2.5rem;
  padding: 0.2rem;
  color: #a7a7a7;
}
.rating-form label input[type=submit],
.rating-form .static input[type=submit] {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.rating-form label:hover,
.rating-form label:hover ~ label {
  color: #fef606;
  text-shadow: 0.1rem 0.1rem goldenrod;
}
.rating-form label.active,
.rating-form .static.active {
  color: #fef606;
  text-shadow: 0.1rem 0.1rem goldenrod;
}

.report-button {
  background-color: inherit;
  border: none;
  color: #282726;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.report-button:hover {
  color: #dc4747;
  transition: 0.3s;
}

.popup-block {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(101, 101, 101, 0.2666666667);
  z-index: 9999;
}
.popup-block .popup {
  padding: 2.5rem;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  min-height: 20rem;
}
.popup-block span {
  font-weight: bold;
}
.popup-block form {
  display: flex;
  flex-direction: column;
}
.popup-block form textarea {
  min-height: 10rem;
  margin-bottom: 1rem;
}
.popup-block form .buttons input[type=submit] {
  margin-right: 0.5rem;
  border: none;
  background-color: #ff5252;
  color: white;
  height: 3rem;
  width: 12.5rem;
  cursor: pointer;
}
.popup-block form .buttons input[type=submit]:hover {
  background-color: #d44444;
}
.popup-block form .buttons button {
  height: 3rem;
  width: 12.5rem;
  border: none;
  background-color: #6e6e6e;
  color: white;
  outline: none;
  cursor: pointer;
}
.popup-block form .buttons button:hover {
  background-color: #5d5d5d;
}

/*# sourceMappingURL=style.css.map*/